$insapp:#f3f6f9;
$border-radius:8px;
$color-btn: #009dff;
$border-radius: 8px;
$border-radius-container: 11px;
$error-color: #e50144;
$tooltip-color: #8c8c8c;
$ui-height: 50px;
$ui-border-color: #e1e8ed;
$ui-border-width: 1px;
$ui-x-padding: 20px;
$input-hint-size: 10px;
$input-y-indent: 7px;
