extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "-"

block content

			include ../../blocks/components/banner/banner
			+insapp("Купить e-ОСАГО онлайн","Номер автомобиля","carNumber","js-carNumber",false,"js-insapp-osago",true)

block scripts
	script(src="js/osago.js")
	script(src="js/vendor.js")
