extends layouts/default
include helpers/mixins

block variables
	- const title = "-"

block content
		ul
			li
				a(href="kasko.html") kasko
			li
				a(href="osago.html") osago



block scripts
	//- script(src="js/main.js")
	//- script(src="js/vendor.js")
