block variables

doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		title #{title}
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		script.
			!function(e){var t="mrg-iframe-click";function n(){var n={type:t};e.parent.postMessage(n,"*")}e!=e.top&&(e.document.addEventListener			("click",n),e.addEventListener("message",function(e){e.data&&e.data.type===t&&n()},!1))}(window);
		link(rel="stylesheet" href="main.css")
	body
		block content
		block scripts
